
/*generales------------------------------------------------------------*/




  
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: #000;
}

/*navbar------------------------------------------------------------*/

.nav-bar{
    width: 100%;
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 1000;
    gap: 2em;
}
.nav-bar-footer{
    color: rgb(255, 255, 255);
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 3rem;
}

.nav-img{
    max-width: 90%;
    width: auto;
    height: auto;
}

.hidden{
    height: 70vh;
    width: 100%;
    display: hidden;

}

/*section------------------------------------------------------------*/

section{
    width: 100%;
    min-height: 80vh;  
    display: block;
    margin-bottom: 5em;
}


/*Carousel------------------------------------------------------------*/



.carousel-container{
    width: 100%;
    min-height: 70vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: #ffffff;
}


.carousel{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 90%;
}


.carousel span{ 
    position: absolute;
    text-align: center;   
    font-family: "Anton", sans-serif;    
    color: rgb(255, 255, 255) !important;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #00b7ff;;
    font-size: 15rem;
}

.info-carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 990;
    margin-block: 2em;
    height: 5vh;
}

.info-carousel header, .info-carousel footer{
    margin: 1em;
}

.info-carousel header h1, .info-carousel footer span{
    width: 100%;
    line-height: 90%;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 2rem;
}

.carousel-buttons{
    display: flex;
    position: absolute;
    width: 100% !important;
    max-width: 100%;
    height: 100% !important;
    background: none;
    z-index: 900;
    justify-content: space-around;
    align-items: center;
}


.carousel-button-item:hover{
    scale: 1.2;
    -webkit-text-stroke-color:rgb(255, 3, 120)
}

.carousel-button-item{
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: #7979795e;;
    font-size: 5rem;
    paint-order: stroke fill;
}


.img-container {
    width: 100%; 
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-content: center;
    justify-content: center;
 }

.img-container img{    
    width: 100%;
    max-width: 100%;
    height: 90%;
    max-height: 100%;
    object-fit: contain;   
}

.img-on{
    display:flex;
}

.img-off{
    display: none;
}


/* Seccion 3D  ---------------------------*/

.shirt-section{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.shirt-buttons {
    display: flex;
    position: absolute;
    max-width:100% !important;
    height: 100% !important;
    background: none;
    z-index: 900;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1em;
    padding: 1em;
}

.shirt-button-item{
    width: 50px;
    height: 50px;    
    border: 5px solid rgb(255, 255, 255);
    border-radius: 0.5em;
}

.shirt-button-item:hover{
    scale: 1.2;
}


.shirt-button-item.selected{
    scale: 1.2;
    background-image: none !important;
    background-color: rgb(246, 246, 246);
}




/* Media Queries---------------------------*/
@media screen and (max-width: 200px) {

    .wide-logo img{
        width: auto;
        max-height: 20px;
    }

    .carousel-button{
        color: white;
        font-size: 0.5rem;
    }
    
    .carousel-container{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        min-height: 90vh;
        gap: 0;
    }

    .carousel, .info-carousel{
        height: auto;
    }
    .carousel{
        grid-row: inherit;
    }

    .img-container{
        height: 90vh;
    }
    .img-container img{        
        height: 80vh;
        object-fit: contain;
    }

    .info-carousel header h1, .info-carousel footer span{
        font-size: 1px;
        text-align: center;
    }

    .info-carousel header, .info-carousel footer{
        margin: 0;
    }

    .shirt-container{
        flex-direction: column;
    }
    
    .shirt{
        max-height:45vh;        
    }

    .shirt-text{
        font-size:1rem;
    }
    

}


@media screen and (min-width:200px) and (max-width: 600px) {

    section{
        border: solid white 5px;
    }
    .wide-logo img{
        width: auto;
        max-height: 20px;
    }

    
    .carousel-container{
        max-width: 100%;
        min-height: 80vh;
    }

    .carousel-button{
        color: white;
        font-size: 1rem;
    }
    
    .carousel span {
        font-size: 4em;
        position: relative;
    }

    .info-carousel{
        height: 10vh;
        margin: 0;
    }
    .carousel{
        max-height: 70vh;
        flex-direction: column;
    }

    .img-containe{
        height: 80%;
    }

    .img-container img{      
        object-fit: contain;
    }

    .info-carousel header h1, .info-carousel footer span{
        font-size: 1em;
        text-align: center;
    }

    
    .shirt-container{
        flex-direction: column;
    }
    
    .shirt{
        max-height:45vh;        
    }

    .shirt-text{
        font-size:1rem;
    }
    
}


